<html>

<head>
    <title>Home</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/appHome.css">

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent" style="padding: 30px;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 align-items-center" style="margin: -20px 0px 20px 0px">
                        <img src="static/img/person-circle.svg" id="icon" alt="User Icon" height="50px" />
                        <h2>Olá, João!</h2>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px">
                    <button type="button">
                        <img src="static/img/calendar2-week.svg" id="icon" alt="User Icon" height="20px" style="float:left"/>
                        Minha agenda
                    </button>
                </div>

                <div class="row" style="margin-top: 10px">
                    <button type="button">
                        <img src="static/img/carrefour_logo2.png" id="icon" alt="User Icon" height="20px" style="float: left"/>
                        Meu carrefour
                    </button>
                </div>

                <div class="row" style="margin-top: 10px">
                    <button type="button" onclick="location.href='/agendamento'">
                        <img src="static/img/calendar2-plus.svg" id="icon" alt="User Icon" height="20px" style="float:left"/>
                        Novo agendamento
                    </button>
                </div>

                <div class="row" style="margin-top: 10px">
                    <button type="button">
                        <img src="static/img/person-plus.svg" id="icon" alt="User Icon" height="20px" style="float:left"/>
                        Convide um amigo
                    </button>
                </div>
                
                <div class="row" style="margin-top: 10px">
                    <button type="button">
                        <img src="static/img/gear.svg" id="icon" alt="User Icon" height="20px" style="float:left"/>
                        Configurações
                    </button>
                </div>
                
                <div class="row" style="margin-top: 10px">
                    <button type="button" onclick="location.href='/'">
                        <img src="static/img/box-arrow-right.svg" id="icon" alt="User Icon" height="20px" style="float:left"/>
                        Sair
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>

</html>