<html>

<head>
    <title>Validar email</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/validarEmail.css">

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="static/img/carrefour_img.png" id="icon" alt="User Icon" height="100" />
            </div>

            <div style="margin-bottom: 30px">
                <h2>Agendamento realizado com sucesso!</h2>
                </br>
                <h2>E-mail enviado para seu parceiro de negociação!</h2>
                </br>
                <h2>Aguarde confirmação.</h2>
            </div>

            <div id="formFooter">
                <input type="submit" class="fadeIn fourth" value="Ir para home" onclick="location.href='/app-home';">
            </div>

        </div>
    </div>
</body>

</html>