<html>

<head>
    <title>Validar email</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/validarEmail.css">

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="static/img/carrefour_img.png" id="icon" alt="User Icon" height="100"/>
            </div>

            <div style="margin-bottom: 30px">
                <h2>Foi enviado um link de validação para o email cadastrado!</h2>
                <h2>Para finalizar seu cadastro, por favor clique no link!</h2>
            </div>

            <div id="formFooter">
                <input type="submit" class="fadeIn fourth" value="Ir para login" onclick="location.href='/';">
            </div>

        </div>
    </div>
</body>

</html>